html, body { width: 100%; }
body { background: #dccb9d; font-size: 62.5%; font-family: 'Anaheim', sans-serif; }


/***	
	HEADER
**/
header { width: 100%; height: 50px; line-height: 50px; text-align: center; background: #151f32; background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0)); border-bottom: 1px solid #e6ddc5; }
header h1 { text-transform: uppercase; font-size: 2em; color: #dccb9d; display: table; margin: 0 auto; }
header h1:before, header h1:after { content: ""; display: inline-block; width: .3em; height: .3em; background: #dccb9d; border-radius: 100%; }
header h1:before { margin: 0 .3em .1em 0; }
header h1:after { margin: 0 0 .1em .3em; }


/***	
	FOOTER
**/
footer { width: 100%; height: 59px; position: fixed; bottom: 0; border-top: 2px solid #131b2b; text-align: center; }
footer ul { height: 100%; }
footer ul li { display: inline-block; width: 33.33%; height: 100%; text-align: center; float: left; background: #101826; background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }
footer ul li a { display: block; height: 100%;  font-size: 1.2em; font-weight: bold; text-decoration: none; color: #42506c; }
footer ul li a span { display: block; }


/***	
	SPLASH SCREEN
**/
#logo_splash { display: table; margin: 40px auto 0; }


/***
	BUDGET
**/

footer ul li a:hover{
	color:#dccb9d;
}
#budget:hover,#profil:hover,#liste:hover{
	background-color: #253554;
}
aside input{width: 90px; height:40px; text-transform: uppercase;text-align: center;background: #151f32; background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));color:#dccb9d; border-radius: 10px; margin-top:5px; margin-left: 675px;font-size: 150%;}
#range {width:1000px;margin-left: 225px;display: table; margin-top:5em;color: #253554;}
#range:before, #range:after { content: ""; display: inline-block; width: 3em; height: 3em; background: #253554; border-radius: 100%; }
#range:before{margin:0 50em 5em 0;}
#range:after{margin:0 0 5em 1000px;}
#rangeOutput{text-align: center;font-size: 1000%;color: #253554; font-weight: bold; margin-top: .4em;}
h2{text-align: center;font-size: 400%;height: 50px;border-bottom: 10px black; color: #253554;}

#bord{
	width: 100%; height: 50px; background: #6d7789; background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
}

#valider{
	width: 100%; height: 50px; background: #cdb985; position: fixed; bottom: 65px;
}


section{
	content: ""; display: inline-block; width: 25em; height: 25em; background: #cdb985; border-radius: 100%; margin-left: 60em; margin-top: 5em; border:5px solid #253554; z-index: 1;
}

section:after{width:100px;height:100px;border:100px solid #069;border-color:transparent transparent #069 transparent;border-width:100px; margin: 10em 10em 10em 10em;z-index: 200;}


input[type="range"] {
-webkit-appearance: slider-horizontal;
padding: initial;
border: initial;
margin: 20px;
}

/***	
	INFOS ACTIVITY
**/
#info_place { text-align: center; padding: 20px 0; background: #42506c; }
h2 { display: table; margin: 0 auto 20px; font-size: 1.8em; text-transform: uppercase; color: #e6ddc5; padding: .5em 1em; border-top: 1px solid #e6ddc5; border-bottom: 1px solid #e6ddc5; }
#info_place img { display: block; width: 100%; height: 100px; border-top: 1px solid #dccb9d; border-bottom: 1px solid #dccb9d; }