body {margin:0;padding:0; font-family:'Anaheim', sans-serif; font-size:62.5%;background: url('img/background.png') no-repeat center fixed;-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}
#wrapper {width:960px;position:relative;margin:auto;}
#wrapper div {width:477px;height:361px;margin:80px auto;}

/***
	MON ESPACE
**/

#header {}
#wrapper nav {width:411px;margin:auto;}
#wrapper nav a {background:#23324f;color:white;height:60px; line-height:60px;display:block;margin:auto;text-align: center;font-size:2.4em;text-decoration:none;color:#efefd9;-webkit-border-radius: 5px;
-moz-border-radius: 5px;border-radius: 5px;}
#wrapper nav a:before {content:'';background:red;width:75px;height:60px;display:inline-block;float:left;border-right:#141d2e 1px solid;-webkit-border-top-left-radius: 5px;
-webkit-border-bottom-left-radius: 5px;-moz-border-radius-topleft: 5px;-moz-border-radius-bottomleft: 5px;border-top-left-radius: 5px;border-bottom-left-radius: 5px;}

#profil { width: 100%; height: 50px; line-height: 50px; text-align: center; background: #151f32; background-image:-webkit-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)); }
#profil h1 { text-transform: uppercase; font-size: 2em; color: #efefd9; display: table; margin: 0 auto; }
#profil h1:before, header h1:after { content: ""; display: inline-block; width: .3em; height: .3em; background: #efefd9; border-radius: 100%; }
#profil h1:before { margin: 0 .3em .1em 0; }
#profil h1:after { margin: 0 0 .1em .3em; }
header {background: url('img/header.png') no-repeat; width: 100%; height: 172px;}